.row
  .columns
    %p We're planning on starting a #{current_city.name} event soon.
    %p If you're interested in sponsoring, hosting or speaking, email Jeff Dickey at #{ link_to "jeff@dickey.xxx", mailto: 'mailto:jeff@dickey.xxx' }.
    %p Sign up if you want to receive updates on any #{current_city.name} events.
    /= form_for 
