- content_for :facebook_meta do
  %meta{ property: "og:url", content: request.url }
  %meta{ property: "og:title", content: "dotplus" }
  %meta{ property: "og:image", content: image_path('logo.png') }
  %meta{ property: "og:type", content: 'webpage' }
  %meta{ property: "og:description", content: 'A new kind of tech event.' }
#home
  .title
    .row
      .large-12.columns
        %h1 dotplus
        %h4.subheader We are a group of mobile/web/hardware developers that come together to talk about software development.
        .social
          .twitter
            %a.twitter-share-button{ href: "https://twitter.com/share", data: { url: "http://dotplus.io", text: "dotplus: a new kind of tech event", via: "dotplusio", size: "small", related: "dickeyxxx" } } Tweet
          .facebook
            .fb-like{ data: { href: "http://dotplus.io", layout: "button_count" } }
  .goals
    .row
      .columns
        %h3 Our Goals
        %ul.small-block-grid-3
          %li Everyone learns something.
          %li Everyone has fun.
          %li Everyone meets somebody new.
  .row
    .large-12.columns
      %h3 About dotplus
  .points
    .row
      %ul.large-block-grid-3
        %li
          %div
            %h5 Beginner focused talk
            %p Often beginners feel inferior to the experts in a group. Since we advocate learning, we showcase our beginners and let them show us cool stuff just like the experts.
        %li
          %div
            %h5 Talks + Hacks
            %p Presentations offer topics to chat about during a meetup. Pairing on problems is an incredibly powerful way to meet new people.
        %li
          %div
            %h5 Discourage recruiters
            %p This isn't a place to get a job, it's a place to make friends and learn new things. Plenty of other meetups are great for finding a new job.
        %li
          %div
            %h5 No more business cards
            %p Twitter is a great way to stay in contact with your new friends. After the event, we'll send out an email allowing you to easily follow anyone from the event.
        %li
          %div
            %h5 Kudos and Achievements
            %p Thank people for speaking or offering help. Track the events you attend or speak at. We'll give you a page right here on dotplus to see it.
        %li
          %div
            %h5 Speaker tools
            %p Fix your bio. Tweak your abstract. Post your slides after the event. No more exchanging emails with the organizers. No more mislabeled presentations.
  .row
    .large-8.columns
      %h3 Typical Schedule
      %ul.no-bullet.schedule
        %li
          .title 7:00 - Registration
          .desc A sweet nametag will be waiting for you with your twitter handle, company and avatar.
        %li
          .title 7:15 - Beginner Talk
          .desc We'll have a talk by someone new to programming. Having beginners speak is a great way to get new speakers in our community and their excitement reminds us all of the joy we had when we started.
        %li
          .title 7:30 - Advanced Talk
          .desc Our advanced speaker will tell us about something new they're playing around with. We look for talks that are fun and thought-provoking.
        %li
          .title 8:15 - Hack
          .desc Participation is key to enjoying your time at dotplus. You'll be expected to pair with a stranger on a problem, likely in a language you rarely use. Don't worry, it'll only be a few minutes.
        %li
          .title 9:00 - Bar
          .desc We'll set up a bar for people to head down to after the event. As the event will only be 2 hours, it'll be a great time to chat in a smaller group about the night.
